<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <form action="/std" method="POST" enctype="multipart/form-data">
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputEmail4">Name</label>
                <input type="text" class="form-control" name="name" placeholder="Name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="inputPassword4">Email</label>
                <input type="email" class="form-control" name="email" id="inputPassword4" placeholder="Email" required>
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Contact</label>
              <input type="number" class="form-control" name="contact" id="inputAddress" placeholder="Conatct" required>
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">File</label>
                <input type="file" name="myfile" class="form-control" placeholder="File"  required>
              </div>

            </div>
            <button type="submit" class="btn btn-primary">Sign in</button>
          </form>
    </div> 
</body>
</html>